<div style="">
  <div style="">
    <div style="">
      <canvas #chart baseChart *ngIf="loaded" width="400" height="400"
        [chartType]="'line'"
        [legend]="true"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions">
      </canvas>

      <mat-slider tickInterval="auto"
        (change)="sliderChange($event)"
        min="0"
        [value]="currentSliderValue"
        [max]="maxSliderValue">
      </mat-slider>

      <button mat-button (click)="playClick($event)">Play history!</button>
    </div>
  </div>
  <div style="width: 1000px;">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Portugal">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataForTable" matSort matSortStart="desc">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
        <ng-container matColumnDef="newCases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> New Cases </th>
          <td mat-cell *matCellDef="let element"> {{element.newCases}} </td>
        </ng-container>
        <ng-container matColumnDef="newDeaths">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> New Deaths </th>
          <td mat-cell *matCellDef="let element"> {{element.newDeaths}} </td>
        </ng-container>
        <ng-container matColumnDef="totalCases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
          <td mat-cell *matCellDef="let element"> {{element.totalCases}} </td>
        </ng-container>
        <ng-container matColumnDef="totalDeaths">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Deaths </th>
          <td mat-cell *matCellDef="let element"> {{element.totalDeaths}} </td>
        </ng-container>
        <ng-container matColumnDef="population">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let element"> {{element.population | shortNumber:3}} </td>
        </ng-container>
        <ng-container matColumnDef="totalCasesByPopulation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Infected Population (%) </th>
          <td mat-cell *matCellDef="let element"> {{element.totalCasesByPopulation | number:'1.3-3'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>




